.App {
  max-width: 600px;
  margin: 30px auto;
  font-family: arial, sans-serif;
  opacity: 0.9;;
}
.App footer {
  font-size: 11px;
  margin: 10px 0;
  text-align: center;
}
.App a {
  color: #5f37bd;
  text-decoration: none;
}
.App a:hover {
  text-decoration: underline;
}