.Weather {
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  padding: 20px;
  color: rgb(135, 135, 135);
}
.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0;
  line-height: 29px;
}
.Weather ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
.Weather img {
  height: 64px;
}
.Weather .temperature {
  font-weight: 700;
  color: #212121;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  margin-left: 10px;
}
.Weather .unit{
    color: #212121;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -34px;
}

