.Weather {
  background-color: #F9F7FE;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  padding: 20px;
  color: rgb(135, 135, 135);
}

.Weather .btn{
  background-color: #9771F3;
  border: 1px solid #9771F3;
}

.Weather .btn:hover{
background-color:#FFFFFF;
color: #9771F3;
}

.Weather h1 {
  color: #9771F3;
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0;
  line-height: 29px;
}
.Weather ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
/* .Weather canvas {
  height: 45px;
} */
.Weather .temperature {
  font-weight: 700;
  color: #212121;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  margin-left: 10px;
}
.Weather .unit{
    color: #212121;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -34px;
}

